In [145]:
import numpy as np
import pandas as pd
from sklearn.linear_model import Lasso
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV,train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

In [146]:
df = pd.read_csv('final_yr_clinical.csv',lineterminator='\n')

In [147]:
df.head()

,subject_id,Age_cat,BMI_cat,HEART,LUNG,KIDNEY,DIABETES,HTN,IMMUNO,Resp_Symp,...,ddimer_3_cat,ldh_3_cat,abs_neut_7_cat,abs_lymph_7_cat,abs_mono_7_cat,creat_7_cat,crp_7_cat,ddimer_7_cat,ldh_7_cat,Class Label\r
0,1,1,4,0,0,0,0,0,0,1,...,1,1,-1,-1,-1,-1,-1,-1,-1,0
1,2,2,2,0,0,0,0,0,0,1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,0
2,3,3,4,0,1,0,0,0,0,1,...,2,3,-1,-1,-1,-1,-1,-1,-1,0
3,4,1,2,0,0,0,0,0,0,1,...,2,3,-1,-1,-1,-1,-1,-1,-1,0
4,5,3,3,0,0,0,1,1,0,1,...,3,-1,3,5,3,1,4,4,3,0

In [148]:
df.isnull().values.any()

False

In [149]:
df.shape

(384, 39)

In [150]:
df.describe()

,subject_id,Age_cat,BMI_cat,HEART,LUNG,KIDNEY,DIABETES,HTN,IMMUNO,Resp_Symp,...,ddimer_3_cat,ldh_3_cat,abs_neut_7_cat,abs_lymph_7_cat,abs_mono_7_cat,creat_7_cat,crp_7_cat,ddimer_7_cat,ldh_7_cat,Class Label\r
count,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000,...,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000
mean,193.330729,3.218750,2.479167,0.184896,0.276042,0.158854,0.361979,0.518229,0.109375,0.953125,...,1.119792,0.927083,0.882812,0.875000,0.893229,0.539062,0.580729,0.533854,0.148438,0.127604
std,111.795820,1.206623,1.151493,0.388720,0.447621,0.366017,0.481200,0.500319,0.312516,0.211647,...,2.082182,2.101820,2.101676,2.185879,2.214728,1.769641,2.206978,2.207015,1.845564,0.334084
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000
25%,96.750000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000
50%,193.500000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,...,2.000000,1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000
75%,290.250000,4.000000,3.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,...,3.000000,3.000000,3.000000,3.000000,3.000000,2.000000,2.000000,3.000000,2.000000,0.000000
max,386.000000,5.000000,5.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1.000000

In [151]:
X=df.drop(['Class Label\r','subject_id'],axis=1)
y=df['Class Label\r']

In [152]:
print(X)

     Age_cat  BMI_cat  HEART  LUNG  KIDNEY  DIABETES  HTN  IMMUNO  Resp_Symp  \
0          1        4      0     0       0         0    0       0          1
1          2        2      0     0       0         0    0       0          1
2          3        4      0     1       0         0    0       0          1
3          1        2      0     0       0         0    0       0          1
4          3        3      0     0       0         1    1       0          1
..       ...      ...    ...   ...     ...       ...  ...     ...        ...
379        3        2      0     0       0         0    0       0          1
380        4        2      0     0       1         0    1       0          1
381        4        3      1     1       0         0    1       0          1
382        5        2      0     1       0         0    0       0          1
383        5        2      0     0       0         1    1       0          1

     Fever_Sympt  ...  crp_3_cat  ddimer_3_cat  ldh_3_cat  abs_neut_7_cat  \
0              1  ...          1             1          1              -1
1              1  ...          2            -1         -1              -1
2              0  ...          3             2          3              -1
3              1  ...          2             2          3              -1
4              1  ...          5             3         -1               3
..           ...  ...        ...           ...        ...             ...
379            1  ...          5             3         -1               3
380            1  ...          5             4         -1               3
381            0  ...          4             3          3               3
382            0  ...         -1            -1         -1              -1
383            1  ...          4             3          5              -1

     abs_lymph_7_cat  abs_mono_7_cat  creat_7_cat  crp_7_cat  ddimer_7_cat  \
0                 -1              -1           -1         -1            -1
1                 -1              -1           -1         -1            -1
2                 -1              -1           -1         -1            -1
3                 -1              -1           -1         -1            -1
4                  5               3            1          4             4
..               ...             ...          ...        ...           ...
379                3               4            3          5             4
380                2               1            3          4             5
381                3               2            1          4             2
382               -1              -1           -1         -1            -1
383               -1              -1           -1         -1            -1

     ldh_7_cat
0           -1
1           -1
2           -1
3           -1
4            3
..         ...
379          2
380         -1
381          2
382         -1
383         -1

[384 rows x 37 columns]

In [153]:
print(y)

0      0
1      0
2      0
3      0
4      0
      ..
379    1
380    1
381    1
382    1
383    1
Name: Class Label\r, Length: 384, dtype: int64

In [154]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42)

In [155]:
print(X_train.shape[1])

37

In [156]:
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [157]:
lasso = Lasso(alpha=0.01, copy_X=True, fit_intercept=True, max_iter=100000, tol=0.0001)

In [158]:
lasso.fit(X, y)

Lasso(alpha=0.01, max_iter=100000)

In [159]:
selected_features = np.arange(37)[lasso.coef_ !=0]
print("Selected Features: ", selected_features)

Selected Features:  [ 0  1  3  9 10 11 13 14 18 20 21 23 26 27 30 31 33 34]

In [160]:
list=[]
for i in selected_features:
    #print(df.columns[i+1])
    list.append(df.columns[i+1])

In [161]:
list

['Age_cat',
 'BMI_cat',
 'LUNG',
 'Fever_Sympt',
 'GI_Symp',
 'Acuity_0',
 'Acuity_7',
 'Acuity_max',
 'creat_0_cat',
 'ddimer_0_cat',
 'ldh_0_cat',
 'abs_neut_3_cat',
 'creat_3_cat',
 'crp_3_cat',
 'abs_neut_7_cat',
 'abs_lymph_7_cat',
 'creat_7_cat',
 'crp_7_cat']

In [162]:
new_df = df[list].copy()

In [163]:
new_df.head()

,Age_cat,BMI_cat,LUNG,Fever_Sympt,GI_Symp,Acuity_0,Acuity_7,Acuity_max,creat_0_cat,ddimer_0_cat,ldh_0_cat,abs_neut_3_cat,creat_3_cat,crp_3_cat,abs_neut_7_cat,abs_lymph_7_cat,creat_7_cat,crp_7_cat
0,1,4,0,1,1,3,5,3,2,1,2,2,1,1,-1,-1,-1,-1
1,2,2,0,1,1,3,5,3,2,2,2,2,1,2,-1,-1,-1,-1
2,3,4,1,0,1,3,5,3,2,3,4,3,2,3,-1,-1,-1,-1
3,1,2,0,1,0,3,5,3,2,2,2,3,1,2,-1,-1,-1,-1
4,3,3,0,1,1,3,3,3,2,3,3,3,1,5,3,5,1,4

In [164]:
new_df.to_csv('AfterLasso_Clinical1.csv')
new_df.head()

,Age_cat,BMI_cat,LUNG,Fever_Sympt,GI_Symp,Acuity_0,Acuity_7,Acuity_max,creat_0_cat,ddimer_0_cat,ldh_0_cat,abs_neut_3_cat,creat_3_cat,crp_3_cat,abs_neut_7_cat,abs_lymph_7_cat,creat_7_cat,crp_7_cat
0,1,4,0,1,1,3,5,3,2,1,2,2,1,1,-1,-1,-1,-1
1,2,2,0,1,1,3,5,3,2,2,2,2,1,2,-1,-1,-1,-1
2,3,4,1,0,1,3,5,3,2,3,4,3,2,3,-1,-1,-1,-1
3,1,2,0,1,0,3,5,3,2,2,2,3,1,2,-1,-1,-1,-1
4,3,3,0,1,1,3,3,3,2,3,3,3,1,5,3,5,1,4