In [4]:
import pandas as pd
import xgboost as xgb
from sklearn.linear_model import LogisticRegression
from sklearn import svm
from sklearn.preprocessing import StandardScaler 
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score

In [5]:
# dataset=pd.read_csv('chosen_columns_clinical1.csv')
dataset=pd.read_csv('Clinical Dataset_ Map.csv')

In [6]:
dataset.head()

,abs_lymph_7_cat,Acuity_max,Acuity_7,crp_3_cat,abs_mono_7_cat,abs_lymph_3_cat,abs_neut_7_cat,Age_cat,abs_neut_3_cat,creat_3_cat,ddimer_7_cat,Acuity_0,creat_0_cat,crp_0_cat,ddimer_0_cat,crp_7_cat,ldh_0_cat,creat_7_cat,BMI_cat,Class Label
0,-1,3,5,1,-1,4,-1,1,2,1,-1,3,2,1,1,-1,2,-1,4,0
1,-1,3,5,2,-1,4,-1,2,2,1,-1,3,2,3,2,-1,2,-1,2,0
2,-1,3,5,3,-1,4,-1,3,3,2,-1,3,2,4,3,-1,4,-1,4,0
3,-1,3,5,2,-1,4,-1,1,3,1,-1,3,2,1,2,-1,2,-1,2,0
4,5,3,3,5,3,5,3,3,3,1,4,3,2,4,3,4,3,1,3,0

In [7]:
dataset.describe()

,abs_lymph_7_cat,Acuity_max,Acuity_7,crp_3_cat,abs_mono_7_cat,abs_lymph_3_cat,abs_neut_7_cat,Age_cat,abs_neut_3_cat,creat_3_cat,ddimer_7_cat,Acuity_0,creat_0_cat,crp_0_cat,ddimer_0_cat,crp_7_cat,ldh_0_cat,creat_7_cat,BMI_cat,Class Label
count,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000
mean,0.875000,2.825521,3.653646,1.606771,0.893229,1.736979,0.882812,3.218750,1.778646,1.143229,0.533854,3.091146,2.059896,2.861979,2.463542,0.580729,2.710938,0.539062,2.479167,0.127604
std,2.185879,1.075856,1.366262,2.385565,2.214728,1.925800,2.101676,1.206623,1.865017,1.613522,2.207015,0.910929,1.123709,1.618823,1.466323,2.206978,1.523458,1.769641,1.151493,0.334084
min,-1.000000,1.000000,1.000000,-1.000000,-1.000000,-1.000000,-1.000000,1.000000,-1.000000,-1.000000,-1.000000,1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000,0.000000
25%,-1.000000,2.000000,2.000000,-1.000000,-1.000000,-1.000000,-1.000000,2.000000,-1.000000,-1.000000,-1.000000,2.000000,1.000000,2.000000,2.000000,-1.000000,2.000000,-1.000000,2.000000,0.000000
50%,-1.000000,3.000000,4.000000,2.000000,-1.000000,2.000000,-1.000000,3.000000,2.000000,1.000000,-1.000000,3.000000,2.000000,3.000000,2.000000,-1.000000,3.000000,-1.000000,2.000000,0.000000
75%,3.000000,3.000000,5.000000,4.000000,3.000000,3.000000,3.000000,4.000000,3.000000,2.000000,3.000000,4.000000,2.000000,4.000000,3.000000,2.000000,4.000000,2.000000,3.000000,0.000000
max,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1.000000

In [8]:
X=dataset.drop(columns='Class Label',axis=1)
Y=dataset['Class Label']

In [9]:
X

,abs_lymph_7_cat,Acuity_max,Acuity_7,crp_3_cat,abs_mono_7_cat,abs_lymph_3_cat,abs_neut_7_cat,Age_cat,abs_neut_3_cat,creat_3_cat,ddimer_7_cat,Acuity_0,creat_0_cat,crp_0_cat,ddimer_0_cat,crp_7_cat,ldh_0_cat,creat_7_cat,BMI_cat
0,-1,3,5,1,-1,4,-1,1,2,1,-1,3,2,1,1,-1,2,-1,4
1,-1,3,5,2,-1,4,-1,2,2,1,-1,3,2,3,2,-1,2,-1,2
2,-1,3,5,3,-1,4,-1,3,3,2,-1,3,2,4,3,-1,4,-1,4
3,-1,3,5,2,-1,4,-1,1,3,1,-1,3,2,1,2,-1,2,-1,2
4,5,3,3,5,3,5,3,3,3,1,4,3,2,4,3,4,3,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,3,1,2,5,4,4,3,3,4,3,4,2,3,3,4,5,5,3,2
380,2,1,2,5,1,2,3,4,4,2,5,3,3,5,3,4,3,3,2
381,3,1,2,4,2,4,3,4,2,3,2,2,3,5,4,4,4,1,3
382,-1,1,1,-1,-1,-1,-1,5,-1,-1,-1,3,5,4,5,-1,2,-1,2
383,-1,1,1,4,-1,2,-1,5,3,1,-1,2,1,5,3,-1,5,-1,2

In [10]:
Y

0      0
1      0
2      0
3      0
4      0
      ..
379    1
380    1
381    1
382    1
383    1
Name: Class Label, Length: 384, dtype: int64

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, Y,random_state=42)

In [12]:
classifier = svm.SVC()

In [13]:
classifier.fit(X_train,y_train)

SVC()

In [14]:
X_train_prediction=classifier.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction, y_train)

In [15]:
print("Accuracy on training data",training_data_accuracy)

Accuracy on training data 0.9409722222222222

In [16]:
X_test_prediction=classifier.predict(X_test)
test_data_accuracy=accuracy_score(X_test_prediction, y_test)

In [17]:
print("Accuracy on test data",test_data_accuracy)

Accuracy on test data 0.9479166666666666